git+https://github.com/oanda/oandapy.git

certifi==2022.12.7
chardet==3.0.4
configparser==4.0.2
idna==2.9
numpy==1.18.3
pandas==0.24.2
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
six==1.14.0
ujson==2.0.3
urllib3==1.25.9
v20==3.0.25.0
matplotlib==3.0.3
